@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* .black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover: bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover: bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
} */

/* .logo_text {
  @apply max-sm: hidden font-satoshi font-semibold text-lg text-black tracking-wide;
} */

/* .dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-center items-center;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover: text-gray-500 font-medium;
} */

.pagination_btn {
  @apply bg-red-800 text-white object-cover p-4 text-xs rounded-[1rem] w-24 disabled:cursor-not-allowed disabled:bg-[rgba(220,20,60,0.473)]
}

.footer_links {
  @apply flex flex-col gap-2 font-light
}

.login_btn {
  @apply p-5 rounded-[5px] text-white font-normal text-sm md:font-bold cursor-pointer flex items-center justify-center
}

.write_openplus {
  @apply w-9 h-9  flex rounded-[50%] border-2 items-center justify-center text-center border-solid border-white
}

.categories_card {
  @apply flex items-center gap-[10px] w-full md:w-[45%] lg:w-[25%] xl:w-[20%] 2xl:w-[15%] h-[80px] justify-center rounded-[10px] 
}

.style {
 @apply bg-[#57c4ff31]
}

.fashion {
  @apply bg-[#eb57ff31]
}

.food {
  @apply bg-[#ae57ff31]
}

.code {
  @apply bg-[#d0a1334d]
}
.jobs {
  @apply bg-[#ff57624d]
}

.technology {
  @apply bg-[#bfff5767]
}